.button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.button .label {
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .icon-arrow-down {
  background-size: 100% 100%;
  height: 24px;
  position: relative;
  width: 24px;
}

.button .text-wrapper {
  font-family: "SF Pro Display-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button.white-stroke {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 6px;
  padding: 16px 56px;
}

.button.black-stroke {
  border: 1px solid;
  border-color: #000000;
  border-radius: 6px;
  padding: 16px 56px;
}

.button.fill-small {
  background-color: #000000;
  border-radius: 8px;
}

.button.fill {
  background-color: #000000;
  border-radius: 6px;
  padding: 16px 56px;
}

.button.small-stroke {
  border: 1px solid;
  border-color: #545454;
  border-radius: 8px;
}

.button.stroke-small {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 8px;
}

.button.icon-false.small-stroke {
  padding: 12px 64px;
}

.button.stroke-small.icon-true {
  padding: 12px 56px;
}

.button.fill-small.icon-true {
  padding: 12px 56px;
}

.button.fill-small.icon-false {
  padding: 12px 64px;
}

.button.stroke-small.icon-false {
  padding: 12px 64px;
}

.button.icon-true.small-stroke {
  padding: 12px 56px;
}

.button.white-stroke .label {
  color: #ffffff;
  font-size: 16px;
}

.button.black-stroke .label {
  color: #000000;
  font-size: 16px;
}

.button.fill-small .label {
  color: #ffffff;
  font-size: 14px;
}

.button.fill .label {
  color: #ffffff;
  font-size: 16px;
}

.button.small-stroke .label {
  color: #000000;
  font-size: 14px;
}

.button.stroke-small .label {
  color: #ffffff;
  font-size: 14px;
}

.button.white-stroke .icon-arrow-down {
  background-image: url(../../../static/img/expand-down-light-10.svg);
}

.button.black-stroke .icon-arrow-down {
  background-image: url(../../../static/img/expand-down-light-11.svg);
}

.button.fill-small .icon-arrow-down {
  background-image: url(../../../static/img/expand-down-light-10.svg);
}

.button.fill .icon-arrow-down {
  background-image: url(../../../static/img/expand-down-light-10.svg);
}

.button.small-stroke .icon-arrow-down {
  background-image: url(../../../static/img/expand-down-light-11.svg);
}

.button.stroke-small .icon-arrow-down {
  background-image: url(../../../static/img/expand-down-light-10.svg);
}

.button.white-stroke .text-wrapper {
  color: #ffffff;
  font-size: 16px;
}

.button.black-stroke .text-wrapper {
  color: #000000;
  font-size: 16px;
}

.button.fill-small .text-wrapper {
  color: #ffffff;
  font-size: 14px;
}

.button.fill .text-wrapper {
  color: #ffffff;
  font-size: 16px;
}

.button.small-stroke .text-wrapper {
  color: #000000;
  font-size: 14px;
}

.button.stroke-small .text-wrapper {
  color: #ffffff;
  font-size: 14px;
}
