.products-type {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}
.big-banner-2 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  min-width: 280px;
  overflow: hidden;
  padding: 376px 32px 56px;
  position: relative;
}

.title-text-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.text-wrapper-24 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 48px;
  margin-top: -1px;
  position: relative;
}

.text-wrapper-9 {
  align-self: stretch;
  color: #909090;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.design-component-instance-node {
  flex: 0 0 auto !important;
}

.design-component-instance-node-2 {
  font-family: "Inter", Helvetica !important;
}

.group {
  height: 327px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 360px;
}

.image-wrapper {
  background-image: url(../../../static/img/image-39.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 448px;
  position: relative;
  top: -22px;
}

.image-2 {
  height: 236px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 243px;
}

.big-banner-3 {
  align-items: flex-start;
  background-color: #f8f8f8;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  min-width: 280px;
  padding: 376px 32px 56px;
  position: relative;
}

.image-3 {
  height: 366px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.big-banner-4 {
  align-items: flex-start;
  background-color: #eaeaea;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  min-width: 280px;
  padding: 376px 32px 56px;
  position: relative;
}

.image-4 {
  height: 360px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.big-banner-5 {
  align-items: flex-start;
  background-color: #2b2b2b;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  min-width: 280px;
  padding: 376px 32px 56px;
  position: relative;
}

.text-wrapper-25 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 48px;
  margin-top: -1px;
  position: relative;
}

.macbook {
  height: 376px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}
