.home {
  align-items: flex-start;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.products-page {
  align-items: flex-end;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  padding: 24px 160px 56px;
  position: relative;
  width: 100%;
}

.frame {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 32px;
  position: relative;
}