.discount-products {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    padding: 80px 160px;
    position: relative;
    width: 100%;
  }
.text-wrapper-26 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
.div-wrapper {
    align-self: stretch;
    background-image: url(../../../static/img/banner-2.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 448px;
    position: relative;
    width: 100%;
  }
.content-4 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    left: 468px;
    position: relative;
    top: 159px;
  }
.titles-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
.big-summer-sale {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: 72px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
.text-wrapper-27 {
    font-weight: 100;
    letter-spacing: -0.52px;
  }
.text-wrapper-28 {
    font-weight: 300;
    letter-spacing: -0.52px;
  }
.text-wrapper-29 {
    font-weight: 500;
    letter-spacing: -0.52px;
  }
.text-wrapper-30 {
    align-self: stretch;
    color: #787878;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-align: center;
  }
.icon-instance-node-2 {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  